* {
    margin: 0px;
    padding: 0px;
}

/* Banner's work starts from here */

.header-area {

    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Banner-Image.png');
    border-radius: 16px;
    width: 82%;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto;
}

.header-area .banner-text {
    padding: 177px 344px;
    text-align: center;
}

.header-area .banner-text h3 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-area .banner-text h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

/* Banner's work finished */



/* Discount section's work statrs here */

.dis-section {
    padding: 120px 399px;
}

.dis-section .discount h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.dis-section .discount h6 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.dis-section .discount h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.dis-section .discount img {
    align-items: center;
}

.dis-section .discount .discount-text {
    margin-top: 48px;
}

/* Discount section's work finished here */

.midnight-party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 82%;
    max-width: 1320px;
    height: 600px;
    margin: 120px auto;
    border-radius: 16px;
}

.midnight-party h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-party p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.midnight-party strong {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

 .midnight-text{
    padding-top : 126px;
    padding-left: 126px;
    padding-right: 497px;
    padding-bottom: 142px;
}